{% load staticfiles %}

<html>
    <head>
        <title>Example App</title>
        <script type="text/javascript" src="{% static 'libs/jquery-3.1.0.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'libs/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'libs/bootstrap-3.3.7/css/bootstrap.min.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static 'libs/font-awesome-4.6.3/css/font-awesome.min.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" >
    </head>
    <body>
        <div class="above-footer">
            {% include "navbar-default.html" %}
            <div class="container" >
                {% include "messages.html" %}
                {% block content %}{% endblock %}
            </div>
            <div class="footer-push"></div>
        </div>
        <div class="footer text-center">
            footer content here | this is an example | <a href="https://github.com/AstromechZA/Djangaroo">github.com/AstromechZA/Djangaroo</a>
        </div>
    </body>
</html>
